---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from "../components/Services.astro"
import Team from '../components/Team.astro';
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';
import Case from '../components/Case.astro';
---
<!-- POSITIVUS Official Astro theme -->
<Layout title="Meraami">
	<main class="space-y-20">
		<Hero/>
		<Services/>
		<Case/>
		<Team/>
		<Testimonial/>
		<Contact/>
	</main>
</Layout>

<script type="text/javascript" src="https://cdn.emailjs.com/sdk/3.2.0/email.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.6.4/dist/email.min.js"></script>
<script type="text/javascript">
   (function() {
       emailjs.init("33o-Q06hqvJBoZxw6"); 
   })();
</script>
